/* App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

header {
  background-color: white;
  color: green;
  text-align: center;
  padding: 1rem 0;
  box-shadow: 0 4px 18px grey;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
}

.task-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input, select, button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

button {
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #eee;
}

.completed-task {
  padding: 10px;
  border: 1px solid crimson;
  border-radius: 5px;
  background-color: #eaffea;
}
