body {
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
}

.App {
  width: 70%;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

input, select, button {
  margin: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

h1 {
  color: green;
}

p {
  margin: 8px;
  padding: 5px;
}
