<!DOCTYPE html>
<html ng-app="classifieds">
<head>
  <title>Classifieds</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="ClassifiedsController">
  <h1>Classifieds</h1>

  <div class="box">
    <h2>Post a Classified</h2>
    <form ng-submit="post()">
      <label>Category</label>
      <select ng-model="category" ng-options="c for c in categories"></select>

      <label>Description</label>
      <textarea ng-model="desc"></textarea>

      <label>Date</label>
      <input type="date" ng-model="date">

      <button type="submit">Post</button>
    </form>
  </div>

  <div class="box">
    <h2>Posted Ads</h2>
    <ol>
      <li ng-repeat="p in posts">
        <b>Category:</b> {{p.category}} <br>
        <b>Description:</b> {{p.desc}} <br>
        <b>Date:</b> {{p.date | date:'dd/MM/yyyy'}}
      </li>
    </ol>
  </div>

  <script src="app.js"></script>
</body>
</html>
