body {
  font-family: Arial;
  background: #f2f2f2;
  margin: 0;
}
h1 {
  text-align: center;
  background: black;
  color: white;
  padding: 15px;
}
.box {
  width: 70%;
  background: white;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
}
label, textarea, select, input, button {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 8px;
}
button {
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
ol {
  padding-left: 20px;
}
